.vs/
packages/
*.user
CircularBuffer.Client.Console/bin/
CircularBuffer.Client.Console/obj/
CircularBuffer.Core/bin/
CircularBuffer.Core/obj/
CircularBuffer.Core.Tests/bin/
CircularBuffer.Core.Tests/obj/
AsteriskApiTest/AsteriskApiTest/bin/
AsteriskApiTest/AsteriskApiTest/obj/
*.suo
*.7z
